html {

}
body {
  margin: 0;
  padding: 0;
  background-color: #434343;
  font-family: monospace;
}


h1 {
  text-align: center;
  color: #ddd;
  clear: both;
}

#game-wrapper {
  width: 100%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  margin: 15px 0px;
  position: relative;
  background-color: #111;
  text-align: center;
}

#game-canvas {
  transition: opacity 0.2s;
  display: inline;
}

#form {
  color: #ddd;
  text-align: center;
}

#form input {
  width: 30px;
}

#help-text {
  text-align: center;
  color: #fff;
}
